.teamy-modal {
  background-color: silver !important;
  padding: 1.5rem 2.5rem 1.5rem 2rem;
  border: 1px groove black;
  z-index: 102;
  min-width: 300px;
  max-width: 1000px;
  text-align: center;
}