.default-modal {
  background-color: #fafafa !important;
  padding: 1.5rem 2.5rem 1.5rem 2rem;
  z-index: 102;
  min-width: 300px;
  max-width: 1000px;
  text-align: center;
}
.event-edit-modal {
  background-color: #fafafa !important;
  padding: 1.5rem 2.5rem 1.5rem 2rem;
  min-width: 95%;
  min-height: 95%;
  max-height: 95%;
  z-index: 102;
}
.blazored-modal-content {
  background-color: rgba(0, 0, 30, 0.3) !important;
  max-height: 80vh;
  overflow-y: auto;
}