@inject IManageChats ChatService

<div style="border: 1px solid black;">
    @if(CurrentEvent != null)
    {
        @if (ChatMessages != null)
        {
            @foreach (var message in ChatMessages)
            {
                <div>@message.Text</div>
            }

        }
        <input class="form-control" @bind-value="MessageToSend" />
        <button class="btn btn-primary" @onclick="Send">Post</button>
    }
</div>

@code {
    [Parameter]
    public EventVM CurrentEvent { get; set; }
    public List<ChatMessageVM> ChatMessages { get; set; }
    public string MessageToSend { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"{CurrentEvent.Title}");
        ChatMessages = await ChatService.Get(CurrentEvent.Id.Value);
    }

    async Task Send()
    {
        await ChatService.Post(new ChatMessageVM() { EventId = CurrentEvent.Id.Value, Text = MessageToSend });
    }
}
