@using System.Net.Http.Headers
@inject IManageEvents EventService
@inject IManageUploads UploadService

<div>
    @*<input type="file" @ref="_input" @onchange="HandleSelected" accept=".jpg, .jpeg, .png" />*@

    @if (string.IsNullOrEmpty(ImgUrl))
    {
        <div class="d-flex justify-content-end">
            <h5 class="float-right" style="padding:.2rem 1rem .2rem 1rem;">Image:</h5>
            <InputFile OnChange="@HandleSelected" class="float-right" />
        </div>
    }
    else
    {
        <div class="img-viewblock d-none d-sm-block" style="background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121212FF), url(@ImgUrl);">
            <button @onclick="RemoveImage" class="btn btn-light btn-img-remove"><span class="oi oi-x"></span></button>
        </div>
        <div class="img-xs-viewblock d-block d-sm-none" style="background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121212FF), url(@ImgUrl);">
            <button @onclick="RemoveImage" class="btn btn-light btn-img-remove"><span class="oi oi-x"></span></button>
        </div>
    }

</div>

@code {
    [Parameter]
    public string ImgUrl { get; set; } = "";
    [Parameter]
    public EventCallback<string> OnChange { get; set; }
    [Parameter]
    public bool DeleteConfirmation { get; set; } = true;
    [CascadingParameter] IModalService Modal { get; set; }


    async Task HandleSelected(InputFileChangeEventArgs e)
    {
        var imageFiles = e.GetMultipleFiles();
        foreach (var imageFile in imageFiles)
        {
            if (imageFile != null)
            {
                var resizedFile = await imageFile.RequestImageFileAsync("image/png", 1024, 800);

                using (var ms = resizedFile.OpenReadStream(resizedFile.Size))
                {
                    var content = new MultipartFormDataContent();
                    content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
                    content.Add(new StreamContent(ms, Convert.ToInt32(resizedFile.Size)), "image", imageFile.Name);
                    ImgUrl = (await UploadService.AddImage(content));

                    await OnChange.InvokeAsync(ImgUrl);
                }
            }
        }
    }

    async void RemoveImage()
    {
        if (DeleteConfirmation)
        {
            var options = new ModalOptions { Class = "default-modal", UseCustomLayout = true };
            var modal = Modal.Show<ConfirmModal>("Delete image", options);
            var result = await modal.Result;

            if (!result.Cancelled)
            {
                ImgUrl = "";
                await OnChange.InvokeAsync("");
            }
        }
        else
        {
            ImgUrl = "";
            await OnChange.InvokeAsync("");
        }
    }
}
