@inject IJSRuntime JSRuntime

<div class="dummy-block">
<h5>Invite</h5>
<div class="d-flex flex-row">
    <div><input @ref="inviteLink" class="form-control" value="@publicInviteLink" readonly="readonly" size=25 /></div>
    <div><button class="btn btn-outline-secondary" @onclick="CopyTextToClipboard">Copy</button></div>
</div>
</div>

@code {
    [Parameter]
    public EventVM CurrentEvent { get; set; }
    ElementReference inviteLink;
    string publicInviteLink => $"{Nav.BaseUri}i/{CurrentEvent.InviteCode}";

    private async Task CopyTextToClipboard()
    {
        await inviteLink.FocusAsync();
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", publicInviteLink);
    }
}