@inject IManageInvites InviteService

@if (Participation() == ParticipationStatus.NotSet)
{
    <div class="default-block invite-participation-block" style="">
        <h4>Are you coming?</h4>
        <div class="d-flex justify-content-center participate-btns invite-participation-inside" >
            <button @onclick="() => Respond(accept:true)" class="btn btn-patcitipate-yes">Yes</button>
            <button @onclick="() => Respond(accept:false)" class="btn btn-patcitipate-no">No</button>
        </div>
    </div>
}
else
{
    @if (Participation() == ParticipationStatus.Accept || Participation() == ParticipationStatus.Reject)
    {
        <div class="default-block invite-participation-block" style="">
            <div class="invite-participation-inside invite-participation-login">
                Please, <a href="#" @onclick="NavigateToLogin">Log in</a> or <a href="#" @onclick="NavigateToRegistration">Register</a> to confirm your answer!
            </div>
        </div>
    }
}


@code {
    [Parameter]
    public EventVM CurrentEvent { get; set; }
    [Parameter]
    public string InviteCode { get; set; }
    [Parameter]
    public EventCallback<ParticipationVM> Responded { get; set; }
    [Parameter]
    public ParticipationVM? LatestParticipation { get; set; }

    void NavigateToRegistration() => Nav.NavigateTo($"Identity/Account/Register?participation={LatestParticipation.Id}", forceLoad: true);
    void NavigateToLogin() => Nav.NavigateTo($"Identity/Account/Login?participation={LatestParticipation.Id}", forceLoad: true);

    ParticipationStatus Participation()
    {
        if (LatestParticipation == null)
            return ParticipationStatus.NotSet;
        else if (LatestParticipation.EventId != CurrentEvent.Id)
            return ParticipationStatus.NotSet;
        else
            return LatestParticipation.Status;
    }

    async Task Respond(bool accept)
    {
        var participation = await InviteService.RespondAnon(CurrentEvent.Id.Value, accept, "anonymous", InviteCode);
        await Responded.InvokeAsync(participation);
    }

    void ChangeResponse()
    {
        LatestParticipation = null;
    }
}
