<div class="d-flex" style="border:1px dashed black; margin:1rem 1rem 0 0; padding: .5rem; width:33rem; height:7rem;">
    <div><img src=@Evt.ImageUrl width="150" style="margin:0 1rem 0 0;"/></div>
    <div>
        <div style="font-weight:bold;">@Evt.Title</div>
        @if (@Evt.DateStatus == EventDateStatus.Locked)
        {
            <div style="color: darkcyan;">@Evt.EventDate.Value.ToLongDateString()</div>
        }
        <div>@Evt.Description</div>
    </div>
</div>

@code {
    [Parameter]
    public EventVM Evt { get; set; }
}
