<div class="index-intro">

    <h2>1. Create an event</h2>
    <div>Choose template or create from scratch</div>
    <h2>2. Customize</h2>
    <div>Add date options, polls and details</div>
    <h2>3. Invite people</h2>
    <div>Meet your friends or new people</div>
    <h2>4. Decide together</h2>
    <div>Vote and chat for what's best for you<br /></div>
    <h2>Have fun!</h2>
    <div>Do things you like together</div>
</div>