<div class="index-intro">
    <h1>Do Things Together</h1>

    <h2>1. Create an event</h2>
    <div>Customize recommended template or create from scratch</div>
    <h2>2. Customize</h2>
    <div>Add date options, polls and details</div>
    <h2>3. Invite people</h2>
    <div>Meet your friends or new people</div>
    <h2>4. Decide together</h2>
    <div>Vote and chat for what's best for you</div>
    <h2>5. Have fun!</h2>
    <div>Do things you like together</div>
</div>