<h3>Login</h3>
<div>
    <div>
        <input type="text" placeholder="Email" class="text-input" />
    </div>
    <div>
        <input type="password" placeholder="Password" class="text-input" />
    </div>
    <div>
        <button class="btn btn-primary">Save</button>
    </div>
</div>
@code {

}
