<div>
    <div class="d-flex flex-nowrap justify-content-between">
    <div class="" style="padding:.8rem 0 .8rem 0;">
        @Date.Date.ToString("ddd, dd MMM")
        &nbsp;
    </div>
    <div class="" style="padding:.8rem 0 .8rem 0;">
        @Date.Date.ToString("HH:mm") - @Date.DateTo.ToString("HH:mm")
    </div>
</div>
<button @onclick="Save" class="btn btn-primary">Save</button>
</div>


@code {
    [Parameter]
    public ProposedDateVM Date {   get; set;   }
    [Parameter]
    public EventCallback<ProposedDateVM> Done { get; set; }

    async void Save()
    {
        await Done.InvokeAsync(Date);
    }
}
