<style>
    .notification-text {
        margin-bottom: 1rem;
    }

    .confirm-btn {
        margin: .5rem;
    }
</style>

@*<div @onkeydown="(e => KeyPressed(e))"></div>*@
<EventEdit InitialEvent=Evt DoneEditing=@Finished></EventEdit>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public EventVM Evt { get; set; }

    async Task Finished(EventVM editedVM)
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(editedVM));
    }
    
    //async Task KeyPressed(KeyboardEventArgs e)
    //{
    //if (e.Key == "Escape")
    //    await Cancel();
    //}

    //async Task Cancel() => await BlazoredModal.CancelAsync();
}
