@page "/edit/{Id:guid}"
@inject IManageEvents EventService
<h3>Edit</h3>

@if (CurrentEvent != null)
{
    <EventEdit InitialEvent=CurrentEvent DoneEditing=@Finished></EventEdit>
}


@code {
    [Parameter]
    public Guid Id { get; set; }
    public EventVM CurrentEvent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentEvent = await EventService.Get(Id);
    }

    async Task Finished(EventVM editedVM)
    {
        await EventService.Update(CurrentEvent);
        Nav.NavigateTo($"/event/{CurrentEvent.Id}");
    }
}
