@page "/"
@inject AppState AppState
@inject IManageEvents EventService
@implements IDisposable

<PageTitle>Dashboard</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        @if (AppState.StoredEvents != null && AppState.StoredEvents.Count > 0)
        {
            @if (AppState.FutureEvents.Any())
            {
                <div>Upcoming:</div>
                <div class="d-flex flex-wrap">
                    @foreach (var evt in AppState.FutureEvents)
                    {
                        <div @onclick="() => GoEvent(evt)">
                            <EventCard Evt="@evt"></EventCard>
                        </div>
                    }
                </div>
            }

            @if (AppState.PastEvents.Any())
            {
                <p>&nbsp;</p>
                <div>Past:</div>
                <div class="d-flex flex-wrap">
                    @foreach (var evt in AppState.PastEvents)
                    {
                        <div @onclick="() => GoEvent(evt)">
                            <EventCard Evt="@evt"></EventCard>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <h4>You currently have no events</h4>
            <a href="/create" class="btn btn-primary" style="margin-top:1rem;"><span class="oi oi-plus" /> Create one</a>
        }

        <p>&nbsp;</p>
    </Authorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        //var cookieEventId = await JS.InvokeAsync<string>("ReadCookie.ReadCookie", "participationEventId");
        //var cookieParticipation = await JS.InvokeAsync<string>("ReadCookie.ReadCookie", "participationStatus");
    }

    protected override void OnInitialized()
    {
        EventService.LoadUpcoming();
        AppState.Statechanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
    }

    private async Task AppState_StateChanged(ComponentBase source, string Property)
    {
        if (source != this) await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
        AppState.Statechanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }

    void GoEvent(EventVM e)
    {
        Nav.NavigateTo($"/event/{e.Id}");
    }
}