@page "/"
@inject AppState AppState
@inject IManageEvents EventService
@implements IDisposable

<PageTitle>Dashboard</PageTitle>

<div>Hello, @AppState.UserDisplayName</div>

@if(AppState.StoredEvents != null)
{
    foreach(var evt in AppState.StoredEvents)
    {
        <EventCard Evt=evt></EventCard>
    }
}

@code{
    protected override void OnInitialized()
    {
        EventService.LoadUpcoming();
        AppState.Statechanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
    }

    private async Task AppState_StateChanged(ComponentBase source, string Property)
    {
        if (source != this) await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
        AppState.Statechanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
}