@page "/i/{InviteCode}"
@using Microsoft.AspNetCore.Authorization
@inject IManageEvents EventService
@inject IHttpClientFactory HttpClientFactory
<h3>Invite</h3>

<div>@InviteCode</div>
@if(CurrentEvent != null)
{
    <div>@CurrentEvent.Title</div>
}

@code {
    [Parameter]
    public string InviteCode { get; set; }

    EventVM CurrentEvent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentEvent = await EventService.Invited(InviteCode);
    }
}
