@page "/my"

<div class="container">
    <input type="text" placeholder="Email" class="text-input" />
    <input type="text" placeholder="Name" class="text-input" />
    <button class="btn btn-primary">Save</button>
</div>

@code {

}
