@page "/q/{QCode}"
@inject IManageQuiz QuizService

<h3>Quiz</h3>

@if (CurrentQuiz == null)
{
    <div>Incorrect code</div>
}
else
{
    <div>@QCode</div>
}

@code {
    [Parameter]
    public string QCode { get; set; }

    public QuizVM CurrentQuiz { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentQuiz = await QuizService.Get(QCode);


        await QuizService.Post(new QuizAnswerVM());

        await QuizService.Submit(QCode);
    }
}
