@page "/qm"
@inject IManageQuiz QuizService

@if(MyQuizes == null)
{
    <div>No quizes</div>
}
else
{
    @foreach(var quiz in MyQuizes)
    {
        <h4>@quiz.Id</h4>
        @foreach(var question in quiz.Questions)
        {
            <div>@question.Question</div>
        }
        <div>&nbsp;</div>
    }
}


@code {
    List<QuizVM> MyQuizes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MyQuizes = await QuizService.List();
    }
}
