@page "/completed"

<div>
    <h2>Thank you!</h2>

    <div>We will find ways to integrate your feedback and provide the best tool for doing things together, as well as meeting new people with matching interests.</div>
    <p>&nbsp;</p>
    <p>Would you like to plan an even with your friends?</p>
    <a href="/create" class="btn btn-main"><span class="oi oi-plus" style="font-size:16px;" />&nbsp;&nbsp;&nbsp;Create one</a>

</div>

@code {

}
