@page "/completed"
@inject IManageTemplates TemplateService

<div class="container container-black container-inner-padding">
    <div>
        <h2>Thank you!</h2>

        <div>Your feedback is very important to us!</div>
    </div>
    @if (EditingEvent == null)
    {
        <div style="padding-bottom: 1rem;"></div>
        <div class="d-flex flex-wrap">
            @if (Recommended != null)
            {
                <h2>Would you like to create Your Fun Event?</h2>

                <div class="row event-card-container">
                    <div class="col-md-4" style="min-width:20rem;">
                        <div class="d-flex template-card" @onclick="(() => DoCreateNew())">
                            <div class="event-card-img event-card-data">
                                <div style="font-weight:bold;">From scratch</div>
                            </div>
                            <div class="event-card-img" style="background-image: url(https://squalldiag.blob.core.windows.net/template-img/fromscratch.jpeg);"></div>
                        </div>
                    </div>

                    @foreach (var item in Recommended)
                    {
                        <div class="col-md-4">
                            <div class="d-flex template-card" @onclick="(() => DoCreateFromTemplate(item))">
                                <div class="event-card-img event-card-data">
                                    <div style="font-weight:bold;">@item.Title</div>
                                    <div>@item.Description</div>
                                </div>
                                <div class="event-card-img" style="background-image: url(@item.ImageUrl);"></div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <p>&nbsp;</p>
    }
</div>

@code {
    List<EventVM> Recommended { get; set; }
    EventVM EditingEvent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Recommended = await TemplateService.Recommended();
    }

    void DoCreateFromTemplate(EventVM item)
    {
        Nav.NavigateTo($"/create/{item.TemplateFromId}");
    }

    void DoCreateNew()
    {
        Nav.NavigateTo($"/create/{Guid.Empty}");
    }
}
