<div class="d-flex justify-content-end">
    <button class="btn btn-outline-secondary admin-link" @onclick="GoToAdmin">Admin</button>
</div>

@code {
    void GoToAdmin()
    {
        Nav.NavigateTo("/qm");
    }
}