@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        <div class="head-spacer d-none d-md-block"></div>

        <article class="content px-4 container">
            @Body
        </article>
    </main>
</div>