@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        <div class="head-spacer d-none d-sm-block"></div>

        <article class="content px-4 container">
            @Body
        </article>
    </main>
</div>

@*<footer class="footer text-muted fixed-bottom">
    <div class="container mt-3 mb-3">
        &copy; 2022 Teamy.one
    </div>
</footer>*@