@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<nav class="navbar navbar-dark bg-dark box-shadow fixed-top">
    <div class="container navcontainer">

        <div class="d-sm-inline-flex">
            <nav class="d-flex bd-highlight">
                <div class="px-3">
                    <a href="">
                        <img src="d_files/teamy_logo.png" />
                    </a>
                </div>
                <div class="px-3 d-none d-md-block" style="margin-top:.2rem;">
                    <NavLink class="nav-link align-middle mynav" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> My Events
                    </NavLink>
                </div>
                <div class="px-3 d-none d-sm-block" style="margin-top:.2rem;">
                    <NavLink class="nav-link align-middle mynav" href="create">
                        <span class="oi oi-plus" aria-hidden="true" style="margin-top:.1rem;"></span> Create
                    </NavLink>
                </div>
                <div class="px-0 d-block d-sm-none" style="width: 2rem; margin-top:.2rem;">
                    <NavLink class="nav-link " href="create">
                        <span class="oi oi-plus mobile-nav-blue" aria-hidden="true"></span>
                    </NavLink>
                </div>
            </nav>
        </div>

        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link px-3" href="authentication/profile" style="margin-top:.2rem;">
                    <span class="oi oi-person" title="Logged in as @context.User.Identity?.Name" />
                </NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link align-middle" href="authentication/login" style="margin-top:.2rem;">
                    <span class="oi oi-account-login mobile-nav-blue" aria-hidden="true"></span>
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    string home = "/";
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
