@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<nav class="navbar navbar-dark bg-dark box-shadow fixed-top">
    <div class="container">

        <div class="d-sm-inline-flex">
            <nav class="d-flex bd-highlight">
                <div class="nav-item px-3">
                    <img src="d_files/teamy_logo.png" />
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> My Events
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link align-middle" href="create">
                        <span class="oi oi-plus" aria-hidden="true"></span> Create
                    </NavLink>
                </div>
            </nav>
        </div>

        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link p-2" href="authentication/profile">
                    <span class="oi oi-person" title="Logged in as @context.User.Identity?.Name" />
                </NavLink>
            </Authorized>
            <NotAuthorized>
                @*   <div class="d-flex">
                    <navlink class="nav-link p-2" href="authentication/profile">
                    <a href="authentication/register">register</a>
                    </navlink>
                    <navlink class="nav-link p-2" href="authentication/profile">
                    <a href="authentication/login">log in</a>
                    </navlink>
                    </div>*@
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
